@import '../../../lessVariables/variables';

.logo {
    img {
        width: 60px;
        height: 60px;
    }
}
.footer{
    text-align: center;
    color: #eee;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
}
.signInButton{
    margin-right: 10px!important;
}

.bgFooter{
    background-color: @secondary-color;
}