@import '../../lessVariables/variables';



.overview{
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    
        .top{
            display: flex;
            justify-content: space-between;
    
            h4{
                margin-bottom: 0;
            }

            svg{
                font-size: 22px;
            }
        }
        h2{
            font-size: 2.5rem;
            margin-bottom: 0;
            color: @secondary-color;
    
            @media(max-width: @mobile-large){
                text-align: center;
            }
        }
    }
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    @media(max-width: @mobile-large){
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
.title{
    margin-bottom: 10px;
    color: @secondary-color;
}
.card{
    background-color: @white-color;
    min-width: 100px;
    min-height: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px @shadow-color3;

    @media(max-width: @mobile-large){
        padding: 5px 10px;
    }
    .title{
        margin-bottom: 15px;
    }
}

.recent-activities{
    margin-top: 40px;

    .contents{
        grid-template-columns: 1.5fr 1fr;
        gap: 20px;

        @media(max-width: @mobile-large){
            grid-template-columns: 1fr;
        }
    }

    .title{
        margin-bottom: 10px;
    }

    
}
