@primary-color: #00a7c9;
@secondary-color: #476076;
@link-color: @primary-color;
@success-color: #59ca42;
@warning-color: #fabf3e;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: @secondary-color;
@text-color-secondary: rgba(0, 0, 0, 0.45);
@background-color: #f4f4f4;
@off-white-color: #eee;

/**Screen Sizes ***/
@laptop: 1024px;
@tablet: 768px;
@mobile-large: 425px;
@mobile-medium: 375px;
@mobile-small: 320px;