@import '../../../lessVariables/variables';

.dashboard__header{
    background-color: @white-color;
}

.dashboard__sider{
    background-color: @white-color;

    @media screen and (max-width: @mobile-large) {
        display: none;
    }

    .sider__contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        .sider__logo{
            margin-bottom: 50px;
            a{
                img{
                    height: 100px;
                    width: 100px;

                    @media(max-width: @tablet){
                        height: 80px;
                        width: 80px;
                    }
                }
            }

        }

        .sider {
            align-self: flex-start;
            width: 100%;

            .sider__menu{
                align-self: flex-start;
                list-style: none;
                line-height: 3;
                width: 100%;

                li{
                    margin: 10px 0;
                    padding: 0 15px;
                    width: 100%;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                .active{
                    background-color: @off-white-color;
                    border-right: 4px solid @primary-color;
                }
            }
        }


    }
}

.contents__container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
