@import '../../../lessVariables/variables';

.auth__layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto;


    .container{
        max-width: 500px;
        width: 100%;

        @media (max-width: @mobile-large){
            max-width: 90%;
        }
    }

    .logo__auth{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a {
            margin-bottom: 10px;
            text-align: center;
            img{
                width: 20%;
            }
        }
    }
    .card__contents{
        background-color: @white-color;
        margin-top: 15px;
        padding: 15px;
        border-radius: 1px;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17) !important;
    }
}

.auth__footer{
    background-color: transparent!important;
    text-align: center;
}
.auth__body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
}

.auth__heading-text{
    font-weight: 700;
    font-size: larger;
    color: @primary-color;
}

.auth__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;

    input{
        margin: 10px 0;
        padding: 9px;
    }
}

.auth__help-text{
    margin-top: 15px;
    justify-content: flex-start;
    align-self: flex-start;
    text-align: left;
}

.auth__submit-button{
    margin: 5px 0;
    button{
        font-weight: bolder;
    }
}

.auth__other-text{
    margin-top: 10px;
    text-align: center;

    p{
        margin-bottom: 1px;
    }
}