@import 'antd/dist/antd.less';
@import './lessVariables/variables';


html,body, *{
  margin: 0;
  padding: 0;

}

.bgMain{
  background-color: #f4f4f4;
}

body{
  .bgMain;
  overflow-x: hidden;
}


.container{
  width: 100%;
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
  @media (max-width: @laptop){
    width: 90%;
  }
}

