.landingHeading{
    margin-top: 30px!important;
}
.landingHeadingText{
    font-size: 50px!important;
    font-weight: 900!important;
    color: #476076!important;
    line-height: 55px;
}

.displayImg{
    height: 50px;
    width: 50px;
}